.filter-container {
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-container {
    /*width: fit-content;*/
    height: fit-content;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    padding: 5px 0;
}

input {
    border: none;
    padding: 10px 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

input:focus {
    outline: none
}

/*.material-icons,*/
/*.material-icons-outlined{*/
/*    font-size: 24px;*/
/*    color: grey;*/
/*    padding: 0 10px;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*}*/

.asset {
    /*font-size: 24px;*/
    /*color: grey;*/
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}

.filter-clear::before {
    padding: 3px;
    color: black;
}

/*.search-img {*/
/*    padding: 0 10px;*/
/*}*/

/*.filter-img {*/
/*    padding: 0 10px;*/
/*}*/

/*.remove-filter-img {*/
/*    padding: 0 10px;*/
/*}*/

/*.cut-filter {*/
/*    padding: 0 0.5px;*/
/*    height: 24px;*/
/*    width: 1px;*/
/*    background-color: grey;*/
/*}*/
